*{
    background-image: url(https://images.unsplash.com/photo-1499209974431-9dddcece7f88?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8aGFyZCUyMHdvcmt8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80) ;
    background-size: cover;
    
}

img{
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: honeydew solid 10px;
}

p{
    color: honeydew;
}